body {
    font-family: Arial, sans-serif;
    background-color: #4169e1; /* צבע כחול רויאל */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; /* צבע לבן לכתב */
    background-image: none; /* שורה חדשה: להסיר את תמונת הרקע */
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#suggestions {
    margin-top: 20px;
    text-align: center;
}


